// Imports -------------------------------------------------------------------

@import "compass/css3/";
@import "compass/typography/";

// CSS Reset -----------------------------------------------------------------

* {
	margin: 0; 
	padding: 0;
	@include box-sizing(border-box);
}

// Color Constants -----------------------------------------------------------

$base-color-seed: #336699;

// Global Styling ------------------------------------------------------------

html {
	@include establish-baseline;
}

br.clear {
	clear: both;
}