@import "base";

html, body {height: 100%;}

body {
	background-color: #FFF;
	font-family: "Helvetica Neue", Arial, sans-serif;
}

// Layout --------------------------------------------------------------------

div#page {
	height: 100%;
	min-width: 60.00em;
}

div#sidebar {
	min-height: 31.25em;
	height: 100%;
	width: 17.1875em;
	float: left;
	text-align: right;
	padding-top: 6.25em;
	padding-right: 2.5em;
	background-color: #EEEEEE;
	@include background-image(linear-gradient(left, $base-color-seed 90%, darken($base-color-seed, 5%) 100%));
	position: fixed;
}

// Sidebar -------------------------------------------------------------------

div#sidebar-header {
	padding-bottom: 0.9375em;
	border-bottom: 1px solid #FFF;
}

span#nickname {
	display:block;
	@include adjust-font-size-to(32px);
	color: #FFF;
}

nav#site-navigation {
	padding-top: 0.9375em;
	color: #FFF;
	
	a {
		color: inherit;
		text-transform: uppercase;
		text-decoration: none;
		
		&:hover {
			text-decoration:underline;
		}
	}
	
	ul {
		list-style-type: none;
	}
	
	ul li {
		padding-bottom: 0.3125em;
	}
}

// Global Content ------------------------------------------------------------

div#content {
	height: 100%;
	margin-left: 17.1875em;
	max-width: 42.8125em;
	float: left;
	padding-left: 2.5em;
	padding-top: 6.25em;
	padding-bottom: 3.125em;
}

h1#content-title {
	@include adjust-font-size-to(32px);
	font-weight: normal;
	padding-bottom: 0.46875em;
	border-bottom: 1px solid $base-color-seed;
	margin-bottom: 0.46875em;
	color: $base-color-seed;
}

// Post List -----------------------------------------------------------------

ul.post-list {
	list-style-type: none;
}

span.post-title {
	@include adjust-font-size-to(24px);
	
	a {
		color: inherit;
		text-decoration: none;
		
		&:hover {
			text-decoration: underline;
		}
	}
}

span.post-date {
	color: #AAA;
}

a.read-more {
	color: $base-color-seed;
	text-decoration: none;
	
	&:hover {
		text-decoration: underline;
	}
}

// Single Post ---------------------------------------------------------------

div#post-meta {
	padding-bottom: 0.46875em;
}

// Copy Styling

h2 {
	@include adjust-font-size-to(24px);
}

h3 {
	@include adjust-font-size-to(22px);
}


p {
	padding-bottom: 1em;
	
	a {
		color: $base-color-seed;
	}
}

.gist {
	@include adjust-font-size-to(14px);
}
