@import "base";

html, body {height: 100%;}

body {
	background-color: #FFF;
	font-family: "Helvetica Neue", Arial, sans-serif;
}

// Sidebar -------------------------------------------------------------------

section#sidebar {
	width: 17.1875em;
	height: 100%;
	float: left;
	text-align: right;
	@include background-image(linear-gradient(left, $base-color-seed 90%, darken($base-color-seed, 5%) 100%));
	position: fixed;
	padding-top: 6.25em;
	padding-right: 2.5em;
}

header#site-header {
	padding-bottom: 0.9375em;
	border-bottom: 1px solid #FFF;
}

h1#site-title {
	font-weight: normal;
	@include adjust-font-size-to(32px);
	color: #FFF;
}

nav#site-navigation {
	padding-top: 0.9375em;
	color: #FFF;
	
	a {
		color: inherit;
		text-decoration: none;
		
		&:hover {
			text-decoration:underline;
		}
	}
	
	ul {
		list-style-type: none;
		
		li {
			padding-bottom: 0.3125em;
		}
	}
}

// Page Content --------------------------------------------------------------

section#content {
	max-width: 42.8125em;
	height: 100%;
	margin-left: 17.1875em;
	float: left;
	padding-left: 2.5em;
	padding-top: 6.25em;
	padding-bottom: 3.125em;
}

h1#content-title {
	@include adjust-font-size-to(32px);
	font-weight: normal;
	padding-bottom: 0.46875em;
	border-bottom: 1px solid $base-color-seed;
	margin-bottom: 0.46875em;
	color: $base-color-seed;
}

// Blog Article --------------------------------------------------------------

article {
	padding-bottom: 2em;
}

header.article-header {	
	margin-bottom: 0.46875em;
	
	h1.article-title {
		@include adjust-font-size-to(32px);
		font-weight: normal;
		padding-bottom: 0.46875em;
		border-bottom: 1px solid $base-color-seed;
		margin-bottom: 0.46875em;
		color: $base-color-seed;
	}
	
	time {
		color: #999;
	}
}

div#blog-index {
	padding-bottom: 1em;
	
	article {
		header {
			h2 {
				font-weight: normal;
				a {
					text-decoration: none;
				
					&:hover {
						text-decoration: underline;
					}
				}
			}
		}
	}
}

// Generic Styling -----------------------------------------------------------

h2 {
	@include adjust-font-size-to(28px);
	font-weight: normal;
}

p {
	@include adjust-font-size-to(16px);
	padding-bottom: 1em;
}

a {
	color: $base-color-seed;
}

ul,ol {
	margin-left: 1cm;
	margin-bottom: 1em;
}

.gist {
	@include adjust-font-size-to(14px);
}