<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }} | Cocoahero</title>
		<link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/screen.css" />
		<link rel="alternate" type="application/atom+xml" href="http://cocoahero.com/feed/" />
		<meta name="keywords" content="{{ page.tags }}">
	</head>
	<body>
		<div id="page">
			<div id="sidebar">
				<div id="sidebar-header">
					<span id="nickname">Cocoahero</span>
				</div>
				<nav id="site-navigation">
					<ul>
						<li><a href="/" title="Home">Home</a></li>
						<li><a href="/blog/" title="Blog">Blog</a></li>
						<li><a href="/contact/" title="Contact">Contact</a></li>
					</ul>
				</nav>
			</div>
			<div id="content">
				{{ content }}
			</div>
			<br class="clear" />
		</div>
	</body>
</html>
	