<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }} | Cocoahero</title>
		<link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/screen.css" />
		<link rel="alternate" type="application/atom+xml" href="http://cocoahero.com/feed/" />
		<meta name="keywords" content="{{ page.tags }}">
		<script type="text/javascript">
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-25288752-1']);
			_gaq.push(['_trackPageview']);
			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
		</script>
		<script type="text/javascript">
		  var _gauges = _gauges || [];
		  (function() {
		    var t   = document.createElement('script');
		    t.type  = 'text/javascript';
		    t.async = true;
		    t.id    = 'gauges-tracker';
		    t.setAttribute('data-site-id', '4e8ef7a4613f5d593f000006');
		    t.src = '//secure.gaug.es/track.js';
		    var s = document.getElementsByTagName('script')[0];
		    s.parentNode.insertBefore(t, s);
		  })();
		</script>
	</head>
	<body>
		<section id="sidebar">
			<header id="site-header">
				<h1 id="site-title">Cocoahero</h1>
			</header>
			<nav id="site-navigation">
				<ul>
					<li><a href="/" title="Home">Home</a></li>
					<li><a href="/blog" title="Blog">Blog</a></li>
					<li><a href="/contact" title="Contact">Contact</a></li>
				</ul>
			</nav>
		</section>
		<section id="content">
			{{ content }}
		</section>
		<br class="clear" />
	</body>
</html>
	