<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<link rel="stylesheet" type="text/css" href="/css/style.css" />
	</head>
	<body>
		<div id="wrapper">
			<header id="site-header">
				<h1 id="site-title"><a href="/" title="Cocoahero">Cocoahero</a></h1>
			</header>
			<nav id="main-nav">
				<ul id="main-nav-links">
					<li><a href="/" title="Home">Home</a></li>
					<li><a href="/about.html" title="About">About</a></li>
					<li><a href="/blog.html" title="Blog">Blog</a></li>
				</ul>
			</nav>
			<div id="content">
				{{ content }}
			</div>
			<div class="push"></div>
		</div>
		<footer>
			<div id="footer-widget-wrapper">
				<div id="about-footer-widget" class="footer-widget">
					<h3>About</h3>
					<p>This would be a simple description about me and the blog. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
				</div>
				<div id="avatar-footer-widget" class="footer-widget">
					
				</div>
				<br class="clear" />
			</div>
		</footer>
	</body>
</html>
	